<<<<<<< HEAD
body{
    background-color: lightgray;
  }
  
  form{
    padding: 3%;
  }
  
  .btn{
    min-width: 100px;
  }
  
  .hello{
  padding-bottom: 3%;
  }
  .navbar-header {
    float: left;
    margin: 0;
    margin-left: 5%;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: left;
    width: 100%;
    /* border-bottom: 0.1em solid rgb(32, 32, 32);   */
  }
  .navbar-brand {
    float:none;
  }
  
  .fileUpload {
    position: relative;
    overflow: hidden;
  }
  .fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  
=======
body{
    background-color: lightgray;
  }
  
  form{
    padding: 3%;
  }
  
  .btn{
    min-width: 100px;
  }
  
  .hello{
  padding-bottom: 3%;
  }
  .navbar-header {
    float: left;
    margin: 0;
    margin-left: 5%;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: left;
    width: 100%;
    /* border-bottom: 0.1em solid rgb(32, 32, 32);   */
  }
  .navbar-brand {
    float:none;
  }
  
  .fileUpload {
    position: relative;
    overflow: hidden;
  }
  .fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  
>>>>>>> 738913bf660ffb537e4cd08069e4c8dabb6cf8f1
  