/* app css stylesheet */

body{
    background-color: lightgray;
}

.navbar-header {
    float: left;
    margin: 0;
    margin-left: 5%;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: left;
    width: 100%;
    /* border-bottom: 0.1em solid rgb(32, 32, 32);   */
}
.navbar-brand {
    float:none;
}
  
