<div class="container-fluid">
  <form class="panel panel-default">
      <h1 class="hello"> Hello! </h1>
      <p>This project was written as a home assignment for a company I was interviewed in. It is written in Angular 7</p>
      <p>The user should upload 2 xlsx files: One of vessels and the other of telemetries. The application should read the files and find matching between event and vessel. A match is when an event row and vessel row both have the same longitude and latitude values, and Time and Received values should be at most 15 minutes difference. Upload the files from ./src/data directory.</p>
      <br/>
      <h4>Step 1: Upload Telemetries xlsx file and Vessels xlsx file.</h4>

      <input type="file" name="file" id="file" class="inputfile" (change)="incomingfile($event)" accept=".xlsx"/>
      <label for="file" class="btn btn-primary">Upload</label>
      
      <br>
      <small *ngIf="vesselsLoaded && !telemetriesLoaded">Vessels file is loaded</small>
      <small *ngIf="telemetriesLoaded && !vesselsLoaded">Telemetries file is loaded</small>
      <small *ngIf="vesselsLoaded && telemetriesLoaded">Vessels and Telemtries files are loaded!</small>
      <hr />
      <h4>Step 2: Click 'Start' to match event to vessel.</h4> 
      <button class="btn btn-primary" [disabled]="(!vesselsLoaded || !telemetriesLoaded)" (click)="onStart()">Start</button>
      <hr/>
  </form>  
</div>
